---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-dark text-light">
    {% include header.html %}
    <main class="container-fluid text-center">
        <div class="contact-bar"><a href="mailto:elidbarton@gmail.com">Contact us</a></div>
        <div class="about-container" width="60%" background-color="darkslategray">
            <p class="Welcome">
            About Fozz Games
        </p>
        <p>
            Fozz Games is run by Eli Barton.
            Eli is a student at Brigham Young University.
            If you like the games then please consider making a donation.

            :)
        </p>
    </div>
    </main>

    {% include footer.html %}

    
</body>
</html>
