---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-dark text-light">
    {% include header.html %}
    <main class="container-fluid text-center">
        <div class="alert-container"></div>
            <p class="Welcome">
            About Fozz Games
        </p>
        <p>
            Fozz Games is a game development studio run by Eli Barton.
            The games are okay.
            If you like them then please consider making a donation.

            :)
        </p>

    </main>

    {% include footer.html %}

</body>
</html>
