---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-dark text-light">
    {% include header.html %}
    <main class="container-fluid text-center">
            <p class="Welcome">
            Games List
        </p>
        <a href="game_pages/galaga.html">Galaga Online</a>
        <a href="game_pages/lordofdonuts.html">Lord of the Donuts</a>
    </main>

    {% include footer.html %}
<p style="display:none">
    Wow look at this cool hidden text! You are cool if you see this.
</p>

</body>
</html>
