---
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-dark text-light">
    {% include header.html %}
    <main class="container-fluid text-center">
        <div class="alert-container"></div>
            <p class="Welcome">Welcome to The Website!
            
        </p>
        <iframe src="game_files/galaga_online/index.html" width="480px" height="600px" onclick=""></iframe>
        <!-- <a href="game/index.html">Click here to play galaga!</a> -->
    </main>

<footer>
    <span>Creator: Eli Barton</span>
    <a href="https://github.com/EliBarton/startup">Eli Barton's GitHub</a>
</footer>
<p style="display:none">
    Wow look at this cool hidden text! You are cool if you see this.
</p>

</body>
</html>
