<header class="container-fluid">
    <nav class="navbar navbar-dark justify-content-between">
        <p class="navbar-brand">FozzGames</p>
        <menu class="navmenu ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/gameslist.html">Games</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about.html">About</a></li>
        </menu>
    </nav>
</header>
