.contact-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: right center;
    padding: 2px;
    padding-inline: 5px;
    background-color: #ffffff;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.contact-bar:hover {
    background-color: #343434;
}

.banner {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-image: url('/imgs/lordofdonuts.png');
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 8px;
    width: 100%;
    background-color: rgb(19, 19, 19);
}