.contact-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: right center;
    padding: 2px;
    padding-inline: 5px;
    background-color: #ffffff;
    color: blue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.contact-bar:hover {
    background-color: #343434;
}

.banner {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-image: url('/imgs/loopydogfights.png');
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-bottom: 1em;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.latest-games-panel {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.item-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    list-style: none;
    width: 100%; /* Ensure item-list takes full width of its parent */
}

.item-list li {
    width: 100%; /* Ensure each list item takes full width of item-list */
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
    width: 100%;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.list-item:hover {
    background-color: #555;
}

.list-item img {
    border-radius: 3px;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.list-item span {
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
