.documentation-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  background-color: #555;
  padding: 20px;
}

details {
  margin: 10px;
}

li {
  all:unset;
  color: azure;
  display: flex;
  list-style-type: disc;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}